<div class="col-md-12">
    
    <h2 class="capitalize">Your Shopping Cart</h2>
    
    <!-- Product Section start -->
    <div class="row header capitalize">
        <div class="col-md-8 col-sm-8">{{3}} Items</div>
        <div class="col-md-1 col-sm-1 hidden-xs text-center">Size</div>
        <div class="col-md-1 col-sm-1 hidden-xs text-center">Qty</div>
        <div class="col-md-2 col-sm-2 hidden-xs text-right">Price</div>
    </div>

    <div class="row product-item" ng-repeat="product in vm.products">

        <div class="col-md-8 col-sm-8">
            <div class="media">
                <div class="media-left">
                    <img class="media-object" src="{{product.p_image}}">
                </div>
                <div class="media-body">
                    <h5 class="media-heading capitalize" ng-bind="product.p_name">
					</h5>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">Style #:  
                        	<span class="capitalize" ng-bind="product.p_style"></span>
                        </div>
				        <div class="col-md-12 col-sm-12">Color: 
				        	<strong ng-bind="product.p_selected_color.name"></strong>
				    	</div>
				        
				        <div class="col-md-12 col-sm-12 visible-xs">Size: 
				        	<strong class="capatalize" ng-bind="product.p_selected_size.code"></strong>
				        </div>
				        
				        <div class="col-md-12 col-sm-12 visible-xs margin-top-10">
				        	QTY: 
				        	<input class="item-qty-text" type="number" min="1">
				        </div>
				        
				        <div class="col-md-12 col-sm-12 visible-xs margin-top-10">
				        	<span class="item-price-strike" ng-if="product.p_originalprice !== product.p_price">
				        		<sup ng-bind="product.c_currency">$</sup>
				        		<span ng-bind="product.p_originalprice | number: 2"></span>
				        	</span>

				        	<span class="item-price">
				        		<sup ng-bind="product.c_currency">$</sup>
				        		<span ng-bind="product.p_price | number: 2"></span>
				        	</span>
				        </div>
						
						<div class="col-md-12 col-sm-12 hidden-xs margin-top-30 item-action">
							<a href='#/' ng-click="edit(product)">EDIT</a> | 
							<a href="#/" ng-click="remove(product)">X REMOVE</a> |
							<a href="#/">SAVE FOR LATER</a>
						</div>			
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 visible-xs margin-top-30 text-center item-action">
					<a href='#/' ng-click="edit(product)">EDIT</a> | 
					<a href="#/" ng-click="remove(product)">X REMOVE</a> |
					<a href="#/">SAVE FOR LATER</a>
				</div>		
            </div>
        </div>

        <div class="row hidden-xs text-center">
	        <div class="col-md-1 col-sm-1">
	        	<strong class="capitalize" ng-bind="product.p_selected_size.code"></strong>
	        </div>
	        <div class="col-md-1 col-sm-1">
	        	<input class="item-qty-text" type="number" min="1">
	        </div>
	        <div class="col-md-2 col-sm-2 hidden-xs text-right">
	        	<div class="item-price-strike" ng-if="product.p_originalprice !== product.p_price">
	        		<sup ng-bind="product.c_currency">$</sup>
	        		<span ng-bind="product.p_originalprice | number: 2"></span>
	        	</div>

	        	<div class="item-price">
	        		<sup ng-bind="product.c_currency">$</sup>
	        		<span ng-bind="product.p_price | number: 2"></span>
	        	</div>
		     </div>
    	</div>
    </div>
    <!-- Product Section end -->

    <div class="thick-seperator"></div>

    <!-- checkout Section start -->
    <div class="row">
		
		<div class="col-md-4 col-sm-4 hidden-xs margin-top-30">
			<div class="row">
				<strong class="margin-top-10">Need help or have questions?</strong>

				<div class="margin-top-10">Call Customer Service at 
					<span class="block">1-800-555-555</span>
				</div>

				<div class="small-link margin-top-10">
					<a href="#/">Chat with one of our stylist</a>
				</div>

				<div class="small-link margin-top-10">
					<a href="#/">See return or exchange policy</a>
				</div>
			</div>
		</div>
		    
	    <div class="col-md-8 col-sm-8">

	       	<div class="row checkout-section">

		       	<div class="col-md-5 col-sm-5 capitalize text-mq-left">
		       		Enter promotion code or Gift Card
		       	</div>
		       
		       	<div class="form-inline text-mq-right">
				  <div class="form-group">
				    <label class="sr-only" for="code"></label>
				    <input type="text" class="form-control" id="code" ng-model="vm.billing.promotion_code">
				  </div>
				  <button type="submit" class="btn btn-default">APPLY</button>
				</div>
	        </div>

	        <div class="row seperator"></div>

	        <div class="row margin-top-10">

		       	<div class="col-md-7 col-xs-7 text-left">
		       		<h5 class="capitalize">
		       			Sub Total
					</h5>
		       	</div>
		       
		       	<div class="col-md-5 col-xs-5 item-price text-right">
				  <sup>$</sup>
				  <span ng-bind="vm.billing.sub_total | number: 2">0.00</span>
				</div>
	        </div>

	        <div class="row margin-top-10">
		       	<div class="col-md-7 col-xs-7 text-left">
		       		<h5 class="capitalize">
		       			Promotion Code <strong ng-bind="vm.billing.promotion_code">XXX</strong> Applied
					</h5>
		       	</div>
		       
		       	<div class="col-md-5 col-xs-5 item-price text-right">
				  <sup>$</sup>
				  <span ng-bind="vm.billing.promotion_total | number: 2">0.00</span>
				</div>
	        </div>

	        <div class="row margin-top-10 margin-bottom-30">
		       	<div class="col-md-7 col-xs-7 text-left">
		       		<h5 class="capitalize">
		       			Estimated Shipping<sup>*</sup>
					</h5>
					<div class="fine-print">You quality for free shipping
					because your order is over $50</div>
		       	</div>
		       
		       	<div class="col-md-5 col-xs-5 text-right">
				  FREE
				</div>
	        </div>

	        <div class="row seperator"></div>

	        <div class="row margin-top-10 margin-bottom-30">
		       	<div class="col-md-7 col-xs-7 text-left">
		       		<h4 class="capitalize">
		       			Estimated Total
					</h4>
					<div class="fine-print">Tax will be applied during checkout</div>
		       	</div>
		       
		       	<div class="col-md-5 col-xs-5 item-price-bigger text-right">
				  <sup>$</sup>
				  <span ng-bind="vm.billing.total | number: 2">0.00</span>
				</div>
	        </div>

	        <div class="row thick-seperator"></div>

	        <div class="row margin-top-10 margin-bottom-30">

		       	<div class="text-mq-right">
		       		<span class="underline-link"><a href="#/">CONTINUE SHOPPING</a></span>
		       		<button type="submit" class="btn btn-primary btn-lg">CHECKOUT</button>
		       	</div>

		       	<div class="text-mq-right margin-top-10">
		       		<img src="/images/lock.jpg">
		       		<span class="letter-spacing">Secure checkout. Shopping is always safe & secure</span>
		       	</div>
	        </div>

	        <div class="row seperator"></div>

	    </div>
    </div>
    <!-- checkout Section end -->

    <product-modal show-modal="vm.showProductModal" product="vm.selectedProduct">
	</product-modal>
</div>